.header {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: "Bungee", sans-serif;
}

.jobs {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  padding: 20px;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
}

.job {
  width: calc(100% / 3 - 3 * 20px);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 20px;
  border: 8px solid black;
  box-sizing: border-box;
  font-family: "Roboto";
  padding: 20px;
  border-radius: 20px;
}

.job > .description {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.job > .detail {
  font-size: 16px;
}

.red {
  border: red 8px solid;
}

.yellow {
  border: yellow 8px solid;
}

.blue {
  border: cyan 8px solid;
}

.green {
  border: green 8px solid;
}

.indigo {
  border: indigo 8px solid;
}

.footer {
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}

.gras {
  font-weight: bold;
}

/* Responsive */

@media (min-width: 1136px) and (max-width: 1712px) {
  .job {
    width: calc(100% / 2 - 2 * 80px);
  }
}

@media (max-width: 1135px) {
  .job {
    width: 80%;
  }
}

@media (min-height: 945px) and (max-height: 1100px) {
  .job {
    height: 230px;
  }
}

@media (max-height: 945px) {
  .header {
    height: 8vh;
  }

  .jobs {
    height: 79vh;
    overflow-y: scroll;
  }

  .job {
    height: 230px;
    flex-shrink: 0;
  }

  .footer {
    height: 11vh;
  }
}
