.header {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  color: white;
}

.jobs {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  padding: 20px;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
}

.job {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  border: 8px solid black;
  box-sizing: border-box;
}

.job > .description {
  font-size: 24px;
  color: black;
}

.job > .detail {
  font-size: 16px;
}

.red {
  border: red 8px solid;
}

.yellow {
  border: yellow 8px solid;
}

.blue {
  border: cyan 8px solid;
}

.green {
  border: green 8px solid;
}

.indigo {
  border: indigo 8px solid;
}

.footer {
  font-size: 16px;
  text-align: center;
}

.gras {
  font-weight: bold;
}
